:root {
}

* {
  /* This ensures all element widths include border and padding width */
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  color: black;
  background-color: #ff0;
  background-image: url(../img/Pikachu_Fade33.png);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto;
  padding: 30px;
}

header {
  background-color: #ff0;
  background-image: linear-gradient(to bottom, rgba(240, 0, 12, 0.3), rgba(240, 0, 12, 0.1));
}

h1,
h2 {
  font-family: 'Indie Flower', cursive;
}

strong {
  color: red;
  font-family: 'Indie Flower', cursive;
  text-shadow: 1px 1px 1px #000;
}

button {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  background-color: red;
  margin: 20px;
  width: 120px;
  color: white;
  filter: brightness(1);
  transition: all 1s ease;
  box-shadow: 2px 2px 5px #000;
}

button:hover,
button:focus {
  cursor: pointer;
  filter: brightness(0.8);
}

hr {
  border: 0;
  margin: 0;
  height: 7px;
  background-image: linear-gradient(to right, rgba(240, 0, 12, 0.1), rgba(240, 0, 12, 0.9), rgba(240, 0, 12, 0.1));
  max-width: 1500px;
}

ul {
  list-style: none;
}

/* -- Flex styling for header --------- */

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 400px;
}

.page-header__item:last-child {
  flex-grow: 1;
  max-width: 700px;
  margin-right: 20px;
}

.strong1 {
  font-family: 'Indie Flower', cursive;
  color: blue;
  font-size: 24px;
  text-shadow: 1px 1px 1px #fff;
}

.newCharacter {
  color: green;
  text-shadow: 1px 1px 1px #000;
}

/* -- ID styling -------------- */

#selectYour {
  font-family: 'Indie Flower', cursive;
  color: red;
  font-size: 30px;
}

#userChoice {
  height: 30px;
  font-family: 'Raleway', sans-serif;
  color: #ababab;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
}

#myLogo {
  margin-left: 20px;
  width: 20%;
  height: auto;

}

#myBanner {
  margin-left: 20px;
  width: 60%;
  height: auto;
}

/*  ------- CSS grid styling -------------- */

/* grids go here */
.pokemonButton {               /* grid fallback */
  display: inline-block;
  width: 33%;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.pokemonButton {     /* buttons are grid items as well */
  display: grid;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  text-align: center;
  justify-content: space-around;
  border-style: solid;
  padding-top: 0.4rem;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  background: #eb0202;
  height: 100px;
  width: 280px;
  margin: 0 auto;
  color: #fff;
  filter: brightness(1);
  transition: all 1s ease;
  box-shadow:
    2px 3px 3px #fff inset,
    2px 2px 5px #000;
}

.pokemonButton:hover,
.pokemonButton:focus {
  cursor: pointer;
  filter: brightness(0.8);
}

/* --------------- media queries required ---------------- */

@media all and (min-width: 500px) and (max-width: 800px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }

  .pokemonButton {
    height: 50px;
    width: 200px;
  }
}

@media all and (max-width: 500px) {
  body {
    padding: 10px;
  }

  .pokemon-list {
    grid-template-columns: 1fr;
  }

  .pokemonButton {
    font-size: 24px;
    margin: auto;
    height: 50px;
    width: 200px;
  }
}
