:root {
}

* {
  /* This ensures all element widths include border and padding width */
  box-sizing: border-box;
}

body {
  color: black;
  background: #ababab;
  font-size: 10;
  line-height: 1.6;
}
