:root {
}

* {
  /* This ensures all element widths include border and padding width */
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  color: black;
  background-color: #ff0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto;
  padding: 30px;
}

header {
  background-image: linear-gradient(to bottom, rgba(240, 0, 12, 0.3), rgba(240, 0, 12, 0.1));
}

h1,
h2 {
  font-family: 'Indie Flower', cursive;
}

strong {
  color: red;
  text-shadow: 1px 1px 1px #000;
}

button {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  background-color: red;
  width: 120px;
  color: white;
  filter: brightness(1);
  transition: all 1s ease;
  box-shadow: 2px 2px 5px #000;
}

button:hover,
button:focus {
  cursor: pointer;
  filter: brightness(0.8);
}

hr {
  border: 0;
  margin: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(240, 0, 12, 0.1), rgba(240, 0, 12, 0.9), rgba(240, 0, 12, 0.1));
  max-width: 1500px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 400px;
}

.page-header__item:last-child {
  flex-grow: 1;
  max-width: 700px;
  margin-right: 20px;
}

.strong1 {
  font-family: 'Indie Flower', cursive;
  color: blue;
  font-size: 24px;
  text-shadow: 1px 1px 1px #fff;
}

#selectYour {
  font-family: 'Indie Flower', cursive;
  color: red;
  font-size: 30px;
}

#userChoice {
  height: 30px;
  font-family: 'Raleway', sans-serif;
  color: #ababab;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
}

#myLogo {
  margin-left: 20px;
  width: 20%;
  height: auto;
}

#myBanner {
  margin-left: 20px;
  width: 60%;
  height: auto;
}

/* grids go here */

.grid1__item {
  display: inline-block;
  width: 33%;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid1__item {
  background-color: #ffffb3;
  box-shadow: 1px 1px 3px #d60000;
  width: 400px;
  margin: 30px;
  text-align: center;
}

/* media queries required */

@media all and (max-width: 500px) {
  .grid1 {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 850px) {
  .grid1 {
    grid-template-columns: 1fr 1fr;
  }
}
